In [33]:
import pandas as pd

In [ ]:
file_path = 'DaNang_2000_2024.csv'
data = pd.read_csv(file_path)

In [35]:
data.head(5)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,946684800,2000-01-01 00:00:00 +0000 UTC,25200,Da Nang,16.054456,108.071722,20.83,10000.0,19.66,21.40,...,1.00,290,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d
1,946688400,2000-01-01 01:00:00 +0000 UTC,25200,Da Nang,16.054456,108.071722,21.12,6000.0,19.05,21.59,...,0.67,260,NaN,NaN,NaN,20,801,Clouds,few clouds,02d
2,946692000,2000-01-01 02:00:00 +0000 UTC,25200,Da Nang,16.054456,108.071722,21.72,7000.0,19.65,22.25,...,3.00,330,NaN,0.11,NaN,75,500,Rain,light rain,10d
3,946695600,2000-01-01 03:00:00 +0000 UTC,25200,Da Nang,16.054456,108.071722,22.50,10000.0,19.66,23.00,...,1.00,340,NaN,0.10,NaN,40,500,Rain,light rain,10d
4,946699200,2000-01-01 04:00:00 +0000 UTC,25200,Da Nang,16.054456,108.071722,22.98,8000.0,17.88,23.24,...,3.00,10,NaN,0.15,NaN,20,500,Rain,light rain,10d

In [36]:
data.describe()

,dt,timezone,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,...,sea_level,grnd_level,humidity,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all,weather_id
count,2.174670e+05,217467.0,2.174670e+05,2.174670e+05,217467.000000,205491.000000,217467.000000,217467.000000,217467.000000,217467.000000,...,0.0,0.0,217467.000000,217467.000000,217467.000000,9722.000000,76289.000000,0.0,217467.000000,217467.000000
mean,1.325668e+09,25200.0,1.605446e+01,1.080717e+02,25.913413,8239.743984,21.768623,27.827656,25.047142,26.858553,...,NaN,NaN,79.185265,2.179445,141.891533,1.506371,1.090649,NaN,53.215918,681.248976
std,2.180735e+08,0.0,7.811725e-11,5.098014e-10,3.351372,2242.517463,2.898456,4.895198,3.364154,3.644252,...,NaN,NaN,13.076090,1.756683,123.831915,4.441860,1.646412,NaN,25.464599,149.158981
min,9.466848e+08,25200.0,1.605446e+01,1.080717e+02,15.530000,100.000000,5.890000,15.340000,13.790000,16.570000,...,NaN,NaN,24.000000,0.000000,0.000000,0.000000,0.100000,NaN,0.000000,200.000000
25%,1.137343e+09,25200.0,1.605446e+01,1.080717e+02,23.470000,7000.000000,20.070000,24.090000,22.790000,24.200000,...,NaN,NaN,70.000000,1.000000,10.000000,0.000000,0.220000,NaN,39.000000,500.000000
50%,1.325322e+09,25200.0,1.605446e+01,1.080717e+02,26.030000,9999.000000,22.140000,26.400000,24.970000,26.800000,...,NaN,NaN,83.000000,1.540000,120.000000,0.000000,0.490000,NaN,43.000000,801.000000
75%,1.513643e+09,25200.0,1.605446e+01,1.080717e+02,28.250000,10000.000000,23.920000,32.070000,27.430000,29.050000,...,NaN,NaN,88.000000,3.090000,233.000000,0.000000,1.230000,NaN,75.000000,802.000000
max,1.704150e+09,25200.0,1.605446e+01,1.080717e+02,36.390000,10000.000000,29.970000,43.350000,36.070000,40.800000,...,NaN,NaN,100.000000,27.300000,360.000000,38.000000,38.440000,NaN,100.000000,804.000000

In [37]:
data['dt_iso'] = pd.to_datetime(data['dt_iso'].str.replace(' +0000 UTC', '', regex=False))

In [38]:
data.isnull().sum

<bound method DataFrame.sum of            dt  dt_iso  timezone  city_name    lat    lon   temp  visibility  \
0       False   False     False      False  False  False  False       False
1       False   False     False      False  False  False  False       False
2       False   False     False      False  False  False  False       False
3       False   False     False      False  False  False  False       False
4       False   False     False      False  False  False  False       False
...       ...     ...       ...        ...    ...    ...    ...         ...
217462  False   False     False      False  False  False  False       False
217463  False   False     False      False  False  False  False       False
217464  False   False     False      False  False  False  False       False
217465  False   False     False      False  False  False  False       False
217466  False   False     False      False  False  False  False       False

        dew_point  feels_like  ...  wind_speed  wind_deg  wind_gust  rain_1h  \
0           False       False  ...       False     False       True     True
1           False       False  ...       False     False       True     True
2           False       False  ...       False     False       True    False
3           False       False  ...       False     False       True    False
4           False       False  ...       False     False       True    False
...           ...         ...  ...         ...       ...        ...      ...
217462      False       False  ...       False     False      False     True
217463      False       False  ...       False     False       True     True
217464      False       False  ...       False     False       True     True
217465      False       False  ...       False     False       True     True
217466      False       False  ...       False     False       True     True

        rain_3h  clouds_all  weather_id  weather_main  weather_description  \
0          True       False       False         False                False
1          True       False       False         False                False
2          True       False       False         False                False
3          True       False       False         False                False
4          True       False       False         False                False
...         ...         ...         ...           ...                  ...
217462     True       False       False         False                False
217463     True       False       False         False                False
217464     True       False       False         False                False
217465     True       False       False         False                False
217466     True       False       False         False                False

        weather_icon
0              False
1              False
2              False
3              False
4              False
...              ...
217462         False
217463         False
217464         False
217465         False
217466         False

[217467 rows x 26 columns]>

In [39]:
data['rainfall'] = data['rain_1h']
data['month'] = data['dt_iso'].dt.to_period('M')
selected_columns = ['month', 'temp', 'humidity', 'wind_speed', 'rainfall', 'clouds_all']
data_selected = data[selected_columns]

In [40]:
data_monthly = data_selected.groupby('month').mean().reset_index()

In [41]:
data_monthly.head()

     month       temp   humidity  wind_speed  rainfall  clouds_all
0  2000-01  21.711443  88.701149    2.128863  0.703097   54.802043
1  2000-02  21.522660  84.540541    2.081266  0.371337   51.829303
2  2000-03  23.203374  84.767473    1.988952  0.609263   45.072581
3  2000-04  26.176589  85.804911    1.745921  1.435927   49.021828
4  2000-05  27.331883  83.078880    1.956094  1.544384   47.015267

In [42]:

data_monthly.to_csv('montlydata.csv', index=False)

In [43]:
data['year'] = data['dt_iso'].dt.year
data['month'] = data['dt_iso'].dt.month

In [44]:
monthly_rainfall = data.groupby(['year', 'month'])['rain_1h'].mean().reset_index()

In [45]:
monthly_rainfall.rename(columns={'rain_1h': 'rainfall_data'}, inplace=True)

In [46]:
annual_rainfall_data = monthly_rainfall.pivot(index='year', columns='month', values='rainfall_data').fillna(0)
annual_rainfall_data.head(5)

month,1,2,3,4,5,6,7,8,9,10,11,12
year,,,,,,,,,,,,
2000,0.703097,0.371337,0.609263,1.435927,1.544384,1.660045,1.238826,1.700876,0.970578,0.953408,1.852889,1.347217
2001,0.466162,0.591374,0.846332,0.314507,1.141955,1.500622,1.257308,1.437403,1.041480,0.788585,0.998758,0.947163
2002,0.684103,0.297295,0.602464,0.649348,1.500263,1.300536,1.084188,1.291304,1.141985,0.724172,0.855783,0.884378
2003,0.556393,0.370719,0.524586,1.184741,1.207393,1.469010,1.008452,1.231750,1.388886,1.127444,1.380306,0.558642
2004,0.526387,0.295870,0.449189,0.878116,1.150751,1.002344,1.591119,1.540047,0.941710,0.799855,1.192871,0.807112

In [47]:
annual_rainfall_data['annual_rainfall'] = annual_rainfall_data.sum(axis=1)

In [48]:
annual_rainfall_data.columns = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL RAINFALL']

In [49]:
annual_rainfall_data

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
year,,,,,,,,,,,,,
2000,0.703097,0.371337,0.609263,1.435927,1.544384,1.660045,1.238826,1.700876,0.970578,0.953408,1.852889,1.347217,14.387849
2001,0.466162,0.591374,0.846332,0.314507,1.141955,1.500622,1.257308,1.437403,1.041480,0.788585,0.998758,0.947163,11.331649
2002,0.684103,0.297295,0.602464,0.649348,1.500263,1.300536,1.084188,1.291304,1.141985,0.724172,0.855783,0.884378,11.015819
2003,0.556393,0.370719,0.524586,1.184741,1.207393,1.469010,1.008452,1.231750,1.388886,1.127444,1.380306,0.558642,12.008323
2004,0.526387,0.295870,0.449189,0.878116,1.150751,1.002344,1.591119,1.540047,0.941710,0.799855,1.192871,0.807112,11.175371
2005,0.297080,0.390485,0.829661,0.662920,1.717150,1.359030,1.165153,1.086976,0.978521,1.233211,1.549161,0.624529,11.893876
2006,0.639713,0.517115,0.785195,0.801014,1.154405,0.939521,1.397845,1.294727,1.896957,0.870000,0.907516,0.935394,12.139401
2007,0.660119,0.248367,0.833933,0.972846,0.832833,1.026463,1.100469,1.283581,1.307593,1.596447,1.548171,0.737702,12.148523
2008,0.534612,0.451881,1.019439,0.503788,1.628049,1.490741,1.212873,1.082105,1.327711,1.009025,1.541338,0.913650,12.715212
2009,0.587343,0.262336,0.703727,1.092035,1.625577,1.313889,1.254822,1.192624,2.407709,0.915936,0.979749,0.764169,13.099917
2010,0.593636,0.506789,0.770129,0.822835,1.053313,1.578407,1.357489,1.885058,1.099122,0.941692,1.678503,0.475249,12.762221
2011,0.541053,0.293600,0.569678,0.879913,1.433416,1.617062,0.808882,0.935992,2.354432,0.985978,1.362928,0.713049,12.495983
2012,0.616170,0.523169,0.824219,0.973315,1.286571,1.373978,1.218037,1.310755,0.777335,0.818106,0.770430,0.602500,11.094586
2013,0.440403,0.448515,0.897750,1.027064,1.460112,1.180294,1.431066,1.080108,1.966147,1.186284,1.362566,0.429624,12.909933
2014,0.471530,0.278727,0.542769,0.877451,1.021429,1.094592,1.788282,1.427097,1.744631,0.696867,0.597128,0.731475,11.271977
2015,0.616336,0.465092,0.905906,0.594278,1.344427,0.928343,1.013778,0.984378,1.870332,1.805127,0.719050,0.642191,11.889237
2016,0.764828,0.441743,0.339462,1.048594,1.551245,1.945286,1.187727,1.582415,1.223540,0.898730,1.138902,1.809168,13.931639
2017,0.613555,0.755447,1.484138,1.128923,1.081557,1.331314,1.543865,1.057867,1.182727,1.271460,2.008062,0.928479,14.387395
2018,0.447359,0.422643,0.521524,0.721574,0.978200,0.957116,1.110323,1.264041,0.812530,0.736656,0.658679,1.037495,9.668141
2019,0.737711,0.335641,0.715143,1.019333,1.792702,1.451368,1.339778,1.609635,0.773905,1.167836,0.912949,0.361926,12.217927
2020,0.409596,0.448022,0.375513,0.693333,2.379216,1.095786,1.315632,1.396075,1.455596,2.099134,1.994191,0.743559,14.405653
2021,0.435242,0.326863,0.495033,0.608333,0.946393,1.239471,0.971875,1.029364,1.667230,1.786874,1.512574,0.845623,11.864874
2022,0.527833,0.425185,1.175725,1.630649,1.520662,1.210224,0.902259,1.406797,1.552118,1.537432,0.778464,0.843301,13.510649
2023,0.620109,0.681549,0.429796,0.569556,1.092808,1.374319,1.051182,1.475691,1.777524,1.458468,0.764919,0.822461,12.118383
2024,0.362000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.362000

In [50]:
annual_rainfall_data.drop(annual_rainfall_data.index[-1])

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
year,,,,,,,,,,,,,
2000,0.703097,0.371337,0.609263,1.435927,1.544384,1.660045,1.238826,1.700876,0.970578,0.953408,1.852889,1.347217,14.387849
2001,0.466162,0.591374,0.846332,0.314507,1.141955,1.500622,1.257308,1.437403,1.041480,0.788585,0.998758,0.947163,11.331649
2002,0.684103,0.297295,0.602464,0.649348,1.500263,1.300536,1.084188,1.291304,1.141985,0.724172,0.855783,0.884378,11.015819
2003,0.556393,0.370719,0.524586,1.184741,1.207393,1.469010,1.008452,1.231750,1.388886,1.127444,1.380306,0.558642,12.008323
2004,0.526387,0.295870,0.449189,0.878116,1.150751,1.002344,1.591119,1.540047,0.941710,0.799855,1.192871,0.807112,11.175371
2005,0.297080,0.390485,0.829661,0.662920,1.717150,1.359030,1.165153,1.086976,0.978521,1.233211,1.549161,0.624529,11.893876
2006,0.639713,0.517115,0.785195,0.801014,1.154405,0.939521,1.397845,1.294727,1.896957,0.870000,0.907516,0.935394,12.139401
2007,0.660119,0.248367,0.833933,0.972846,0.832833,1.026463,1.100469,1.283581,1.307593,1.596447,1.548171,0.737702,12.148523
2008,0.534612,0.451881,1.019439,0.503788,1.628049,1.490741,1.212873,1.082105,1.327711,1.009025,1.541338,0.913650,12.715212
2009,0.587343,0.262336,0.703727,1.092035,1.625577,1.313889,1.254822,1.192624,2.407709,0.915936,0.979749,0.764169,13.099917
2010,0.593636,0.506789,0.770129,0.822835,1.053313,1.578407,1.357489,1.885058,1.099122,0.941692,1.678503,0.475249,12.762221
2011,0.541053,0.293600,0.569678,0.879913,1.433416,1.617062,0.808882,0.935992,2.354432,0.985978,1.362928,0.713049,12.495983
2012,0.616170,0.523169,0.824219,0.973315,1.286571,1.373978,1.218037,1.310755,0.777335,0.818106,0.770430,0.602500,11.094586
2013,0.440403,0.448515,0.897750,1.027064,1.460112,1.180294,1.431066,1.080108,1.966147,1.186284,1.362566,0.429624,12.909933
2014,0.471530,0.278727,0.542769,0.877451,1.021429,1.094592,1.788282,1.427097,1.744631,0.696867,0.597128,0.731475,11.271977
2015,0.616336,0.465092,0.905906,0.594278,1.344427,0.928343,1.013778,0.984378,1.870332,1.805127,0.719050,0.642191,11.889237
2016,0.764828,0.441743,0.339462,1.048594,1.551245,1.945286,1.187727,1.582415,1.223540,0.898730,1.138902,1.809168,13.931639
2017,0.613555,0.755447,1.484138,1.128923,1.081557,1.331314,1.543865,1.057867,1.182727,1.271460,2.008062,0.928479,14.387395
2018,0.447359,0.422643,0.521524,0.721574,0.978200,0.957116,1.110323,1.264041,0.812530,0.736656,0.658679,1.037495,9.668141
2019,0.737711,0.335641,0.715143,1.019333,1.792702,1.451368,1.339778,1.609635,0.773905,1.167836,0.912949,0.361926,12.217927
2020,0.409596,0.448022,0.375513,0.693333,2.379216,1.095786,1.315632,1.396075,1.455596,2.099134,1.994191,0.743559,14.405653
2021,0.435242,0.326863,0.495033,0.608333,0.946393,1.239471,0.971875,1.029364,1.667230,1.786874,1.512574,0.845623,11.864874
2022,0.527833,0.425185,1.175725,1.630649,1.520662,1.210224,0.902259,1.406797,1.552118,1.537432,0.778464,0.843301,13.510649
2023,0.620109,0.681549,0.429796,0.569556,1.092808,1.374319,1.051182,1.475691,1.777524,1.458468,0.764919,0.822461,12.118383

In [51]:
flood_list = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1,1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
annual_rainfall_data['FLOODS'] = flood_list

In [52]:
annual_rainfall_data.head()

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
year,,,,,,,,,,,,,,
2000,0.703097,0.371337,0.609263,1.435927,1.544384,1.660045,1.238826,1.700876,0.970578,0.953408,1.852889,1.347217,14.387849,1
2001,0.466162,0.591374,0.846332,0.314507,1.141955,1.500622,1.257308,1.437403,1.041480,0.788585,0.998758,0.947163,11.331649,1
2002,0.684103,0.297295,0.602464,0.649348,1.500263,1.300536,1.084188,1.291304,1.141985,0.724172,0.855783,0.884378,11.015819,1
2003,0.556393,0.370719,0.524586,1.184741,1.207393,1.469010,1.008452,1.231750,1.388886,1.127444,1.380306,0.558642,12.008323,1
2004,0.526387,0.295870,0.449189,0.878116,1.150751,1.002344,1.591119,1.540047,0.941710,0.799855,1.192871,0.807112,11.175371,1

In [53]:
annual_rainfall_data.to_csv('annual_rainfall_data.csv', index=False)